.App {
  text-align: center;

  height: 100vh;
overflow: auto;
overflow-x: hidden;
  background-image: url("./assets/photo-1485846234645-a62644f84728.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

  
/* *{

  outline: 1px solid red;
 

} */






