
.dialog-enter {
  opacity: 0.01;
  transform: scale(1.1);
}

.dialog-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.dialog-exit {
  opacity: 1;
  transform: scale(1);
}

.dialog-exit-active {
  opacity: 0.01;
  transform: scale(1.1);
  transition: all 300ms;
}



.container {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;

  .search_bar {
    // margin-left: 100px;
    
    margin-top: 20px;
    margin-bottom: 20px;
    
  }

  .navBar {
    background-color: #1a1717;
  }

  .mainDiv {
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.603);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.15);
    overflow: hidden;
    backdrop-filter: blur(10px);
    position: relative;
    .movieOverview{


      position: absolute;
      bottom: 0;
      left:0; 
      right: 0;
      color: white;
      background-color:rgba(255, 255, 255, 0.15) ;
      padding: 1rem;
    }

    .hoverImage {
      transition: transform 0.2s;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 50px;
      margin-bottom: 50px;
      border-radius: 10px;
      overflow: hidden;
    
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
        box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
    }
    .searchImage {
      background-color: rgb(18, 18, 18);
      color: white;
      letter-spacing: 0.2rem;
      font-weight: 800;
      font-size: 20px;
      span {
        text-transform: capitalize;
      }
    }
    .background {
      background-color: #1a1717;
      color: white;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      
      
    }

    .featuredDiv {
      margin-top: 0px;
      margin-bottom: -20px;
      
      h2{
        color: white;
        font-size: 30px;
        font-weight: 600;
      }
    }

    .latestDiv {
      margin-top: 0px;
      margin-bottom: -20px;
      
      h2{
        color: white;
        font-size: 30px;
        font-weight: 600;
      }
    }
  }

  .modalDiv {
    position: relative;
    background-color: yellow;
  }
}
